<!DOCTYPE HTML>
<html lang=pl>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="robots" content="noindex, follow, noarchive" />
<meta http-equiv=refresh content=1200 />
<title><TMPL_VAR name></title>
<link rel=alternate type=application/atom+xml href=/planetjogger/atom.xml title=Feed>
<style type=text/css media=screen>
html{background:#FFF}
html,a{color:#333333}
body{font:normal medium 'Gill Sans',Optima,Verdana,sans-serif;margin:40px auto 1em auto;width:70%;line-height:180%}
#footer{clear:both;text-align:center;font-size:small}
h1,.feedflare{display:none}
.horizontal,.simple li{margin:0;padding:0;list-style:none;display:inline}
.simple li:before{content:"+ "}
.simple > li:first-child:before{content:""}
.author{text-decoration:none;display:block;float:right;margin-left:2em;font-size:small}
ul{list-style:none;margin-left:0;padding-left:0}
li{clear:both}
.content{margin:1em 40px}
.content.trimmed{max-height: 312pt; overflow: hidden;}
.hidden {display: none}
img{max-width:100%;height:auto;width:auto\9;border:0}
</style>
<script type="text/javascript">
function show(elem) {
	elem.className = 'hidden';
	elem.parentElement.previousSibling.className = 'content';

}

document.addEventListener("DOMContentLoaded", function(event) {
	var contentElements = document.getElementsByClassName('content');
	for( var i = 0; i < contentElements.length; i++ ) {
		if( contentElements[i].clientHeight > 450 ) {
			contentElements[i].className += ' trimmed';
			contentElements[i].nextSibling.className = '';
		}
	}
});
</script>
</head>
<body>
<h1><TMPL_VAR name></h1>
<ul>
<TMPL_LOOP Items>
<li<TMPL_IF channel_language> lang="<TMPL_VAR channel_language>"</TMPL_IF>>
<h2><a class=author href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name ESCAPE="HTML"></a><TMPL_IF title> <a<TMPL_IF link> href="<TMPL_VAR link ESCAPE="HTML">"</TMPL_IF><TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><TMPL_VAR title></a></h2></TMPL_IF>
<TMPL_IF content><div class="content"><TMPL_VAR content></div><p class="hidden"><a href="javascript:void(0)" onclick="show(this)">Show all</a></p></TMPL_IF>
</li>
</TMPL_LOOP>
</ul>
<hr>
<div id=footer>
<p>via these fine people and places:</p>
<ul class="simple horizontal">
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a></li>
</TMPL_LOOP>
</ul>
</div>
</body>
</html>
