<!DOCTYPE HTML>
<html lang=pl>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="robots" content="noindex, follow, noarchive" />
<meta http-equiv=refresh content=1200 />
<meta name="description" content="Planeta agreguje blogi ludzi dawniej piszacych na Jogger.pl"/>
<meta property="og:title" content="Planeta Joggera"/>
<meta property="og:description" content="Planeta agreguje blogi ludzi dawniej piszacych na Jogger.pl"/>
<meta property="og:site_name" content="https://zakr.es/planetjogger/" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://zakr.es/planetjogger/" />
<title>{{ name }}</title>
<link rel="alternate" type="application/rss+xml" title="Planet Jogger RSS" href="/planetjogger/planet.rss" />
<style type=text/css media=screen>
body{font:normal medium 'Gill Sans',Optima,Verdana,sans-serif;margin: 3% auto 1em auto;max-width:73%;line-height:180%;background:#FFF}
body div {max-width: 100%}
a {color:#333333}
#footer{text-align:center;font-size:small;background:#a2d1e0;color:#81a8b4}
h1,.feedflare{display:none}
.horizontal,.simple li{margin:0;padding:0;list-style:none;display:inline}
.simple li:before{content:"+ "}
.simple > li:first-child:before{content:""}
.author{text-decoration:none;display:block;float:right;margin-left:2em;padding: 0 4pt;font-size:small;background:#e8f4f8;color:#81a8b4;}
ul{list-style:none;margin-left:0;padding-left:0}
li{clear:both}
.content{margin: 1%}
img{max-width:100%;height:auto;width:auto;border:0}
.top_bar {height: 140px;width: 100%;background-color: #a2d1e0;border-top-width: 9px;border-top-style: solid;border-top-color: #ee4e4e;
background-image: url(./jogger_logo_mini.png);background-repeat: no-repeat;background-position: 40px 0;}
@media screen and (max-width: 800px) { body {max-width: calc(100% - 30px)} }
</style>
</head>
<body>
<h1>{{ name }}</h1>
<div class=top_bar></div>
<ul>
{% for item in Items %}
<li{% if item.channel_language %} lang="{{ item.channel_language }}"{% endif %}>
<h2><a class=author href="{{ item.feedlink | e }}" title="{{ item.blogtitle | e }}">{{ item.name | e }}</a>{% if item.title %} <a{% if item.link %} href="{{ item.link | e }}"{% endif %}{% if item.title_language %} lang="{{ item.title_language }}"{% endif %}>{{ item.title }}</a></h2>{% endif %}
{% if item.description %}<div class="content">{{ item.description }}</div>{% endif %}
</li>
{% endfor %}

</ul>
<hr>
<div id=footer>
<p><a href="./about.html">Planeta Joggera</a> agreguje wpisy z nast<C4><99>puj<C4><85>cych blog<C3><B3>w, kt<C3><B3>rych autorzy pisali kiedy<C5><9B> na Jogger.pl:</p>
<ul class="simple horizontal">
{% for channel in Channels -%}
<li><a href="{{ channel.link | e }}" title="{{ channel.title | e }}">{{ channel.name }}</a></li>
{% endfor %}
</ul>
<p>Kod i konfiguracja: <a href="https://github.com/rozie/PlanetJogger">repozytorium GitHub</a>. Kontakt: <a href="https://zakr.es/">znajdziesz na g<C5><82><C3><B3>wnej</a>.</p>
<p><a rel="nofollow" href="https://buycoffee.to/rozie" target="_blank"><img src="https://buycoffee.to/img/share-button-primary.png" style="width: 136px; height: 36px" alt="Postaw mi kaw<C4><<99> na buycoffee.to"></a></p>
</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.zakr.es/planetjogger","*.zakr.es/planetjogger"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//zakr.es/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//zakr.es/piwik/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
